:modules:
    - hammer_cli_foreman

:foreman:
    :enable_module: true
    :host: '{{ foreman_instance }}'
    :username: '{{ foreman_username | default(cloud) }}'
    :password: '{{ foreman_password | default(password) }}'

:log_dir: '~/.hammer/log'
:log_level: 'error'
