---
- name: Provisioning EDPM nodes
  hosts: localhost
  gather_facts: false

  pre_tasks:
    - name: Download or load OCP inventory
      include_tasks: roles/bootstrap/tasks/includes/download_ocp_inventory.yml

    - name: Parse nodes from OCP inventory
      set_fact:
        all_nodes: "{{ (ocp_inventry.content | from_json).nodes }}"
        total_num_nodes: "{{ (ocp_inventry.content | from_json).nodes | length }}"

    - name: Select EDPM nodes from start_node
      set_fact:
        edpm_nodes: "{{ ocp_inventry.json.nodes[compute_start_node_index|int:total_num_nodes|int] | map(attribute='name') | list }}"

  roles:
    - role: foreman
