---
- name: Run lsblk on each node
  vars:
    ip: "{{ lookup('vars', 'node_' ~ item ~ '_ip') }}"
  ansible.builtin.shell:
    cmd: >-
      ssh core@{{ ip }} "lsblk -J -b -o NAME,TYPE,SIZE,MOUNTPOINT |
      jq -r '.blockdevices[] | select(.size > 0 and .type == \"disk\") |
      select((.children // []) | all(.mountpoint != \"/boot\")) | \"/dev/\" + .name'"
  register: blk_outputs
  loop: "{{ range(0,3) | list }}"

- name: Extract device lists
  ansible.builtin.set_fact:
    node_disks_list: "{{ blk_outputs.results | map(attribute='stdout_lines') | list }}"

- name: Find common devices across nodes
  ansible.builtin.set_fact:
    common_disks: "{{ node_disks_list[0] | intersect(node_disks_list[1]) | intersect(node_disks_list[2]) }}"

- name: Display common disks
  ansible.builtin.debug:
    msg: "{{ common_disks }}"
