---
- name: Run lsblk on first node
  vars:
    ip: "{{ lookup('vars', 'node_0_ip') }}"
  ansible.builtin.shell:
    cmd: >-
      ssh core@{{ ip }} "lsblk -J -b -o NAME,TYPE,SIZE,MOUNTPOINT |
      jq -r '.blockdevices[] | select(.size > 0 and .type == \"disk\") |
      select((.children // []) | all(.mountpoint != \"/boot\")) | \"/dev/\" + .name'"
  register: blk_output
  changed_when: false

- name: Get by-path device paths for each disk
  vars:
    ip: "{{ lookup('vars', 'node_0_ip') }}"
  ansible.builtin.shell:
    cmd: >-
      ssh -o LogLevel=ERROR core@{{ ip }}
      'udevadm info -q symlink -r --name="{{ item }}" |
      awk '\''{ for (i = 1; i <= NF; i++) if ($i ~ /disk\/by-path\//) print $i }'\'''
  register: by_path_outputs
  loop: "{{ blk_output.stdout_lines }}"
  changed_when: false

- name: Extract by-path device list
  ansible.builtin.set_fact:
    common_disks: "{{ by_path_outputs.results | selectattr('stdout', 'defined') | selectattr('stdout', 'ne', '') | map(attribute='stdout') | map('trim') | select('ne', '') | list }}"

- name: Display common disks
  ansible.builtin.debug:
    msg: "{{ common_disks }}"