---
- name: Get worker node names
  ansible.builtin.command:
    cmd: oc get nodes -o jsonpath='{.items[*].metadata.name}'
  register: node_names

- name: Set node facts (node_*)
  ansible.builtin.set_fact:
    "{{ item_name }}": "{{ item }}"
  loop: "{{ node_names.stdout.split() }}"
  loop_control:
    index_var: node_index
  vars:
    item_name: "node_{{ node_index }}"

- name: Get the second node MACs (2nd, 3rd and 4th MACs)
  ansible.builtin.set_fact:
    macs: "{{ ocp_inventory.json.nodes[1].mac[1:4] }}"

- name: Get the IP of the first node
  ansible.builtin.command:
    cmd: oc get nodes -o jsonpath="{range .items[*]}{.status.addresses[?(@.type=='InternalIP')].address}{'\n'}{end}"
  register: nodes_ip

- name: Set node IP fact
  ansible.builtin.set_fact:
    "{{ item_name }}": "{{ item }}"
  loop: "{{ nodes_ip.stdout.split() }}"
  loop_control:
    index_var: node_index
  vars:
    item_name: "node_{{ node_index }}_ip"

- name: Fix and setup SSH
  ansible.builtin.include_tasks:
    file: setup-ssh.yml
  loop: "{{ range(0, 3) | list }}"

- name: Get the interface names
  ansible.builtin.include_tasks:
    file: get_iface.yml
  loop: "{{ macs | zip(range(macs | length)) | map('list') | list }}"
  loop_control:
    loop_var: item

- name: Set the ctlplane gateway IP
  ansible.builtin.command:
    cmd: ip addr add 172.16.0.1/16 dev {{ iface_0 }}
  become: true
  ignore_errors: true

- name: Set masquerade for the jump host
  ansible.builtin.command:
    cmd: iptables -t nat -A POSTROUTING -s 172.16.0.0/16 -o {{ iface_0 }} -j MASQUERADE
  become: true

- name: Get the common disk across nodes
  ansible.builtin.include_tasks:
    file: find-node-disks.yml

- name: Render nncp.yaml
  ansible.builtin.template:
    src: nncp_values.yaml.j2
    dest: "{{ dt_path }}/examples/dt/perfscale/scalelab/networking/nncp/values.yaml"

- name: Render service_values.yaml
  ansible.builtin.template:
    src: service_values.yaml.j2
    dest: "{{ dt_path }}/examples/dt/perfscale/scalelab/service-values.yaml"

- name: Render service_values_ceph.yaml
  ansible.builtin.template:
    src: service_values_ceph.yaml.j2
    dest: "{{ dt_path }}/examples/dt/perfscale/scalelab/service-values-ceph.yaml"
  when: ceph_backend | default(false) | bool

- name: Render kustomization.yaml for controlplane
  ansible.builtin.template:
    src: kustomization.yaml.j2
    dest: "{{ dt_path }}/examples/dt/perfscale/scalelab/kustomization.yaml"

- name: Render lvms value
  ansible.builtin.template:
    src: lvms-values.yaml.j2
    dest: "{{ dt_path }}/examples/dt/perfscale/scalelab/lvms/lvm-cluster/values.yaml"
