---
- name: Remove bad known_host entry if any
  ansible.builtin.command:
    cmd: ssh-keygen -R {{ lookup('vars', 'node_' ~ item ~ '_ip') }}
  ignore_errors: true

- name: Add node to known hosts
  ansible.builtin.shell:
    cmd: ssh-keyscan -H {{ lookup('vars', 'node_' ~ item ~ '_ip') }} >> ~/.ssh/known_hosts
  ignore_errors: true
